html,

body {
  width: 100%;
  height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a:hover{
  cursor:pointer;
  text-decoration:none;
}
.navbar-toggle{
  outline:none;
  background-color: transparent;
  color:white;
}
.search-area{
  display:block;
  width:100%;
  height:100px;
  margin-top:-20px;
}
.submit{
  text-decoration: none;
  font-size:2em;
  color:white;
}
.submit:hover{
  color:pink;
}
form{
  padding:40px 20px 10px 20px;
}
.form-group> input{
 outline: none;
  border:none;
  border-bottom:2px solid black;
  background-color:transparent;
  font-size: 1.5em;
  height:50px;
  width:80%;
}
.list_unstyled{
  list-style-type: none;
}
.navbar-custom{
  font-size:1.8em;
  background-color:transparent;
}
.navbar-nav>li>a{
  color:white !important;
}
.dropdown-menu{
  width:100px;
}
.top{
  height:100%;
  background: url("../img/cover.jpg");
  background-position: center;
  background-attachment: fixed;
}
.top-page{
  width: 100%;
  margin-top:-20px;
  height:800px;
  padding-top:60px;
  color:white;
  font-size:2.5em;
  font-family:Lobster;
  padding-bottom: 50px;
  text-align: center;
}
.greeting>h1{
  font-size:2em;
}
.greeting>h3{
  font-size:1em;
}
.board{
  padding:20px;
display:block;
height:auto;
background-color:transparent;
opacity:0.5;
}
.sm-box{
  background-color:lightpink;
  padding-top:20px;
  padding-bottom:20px;
  margin:6px;
  text-align:center;
  border: 1px black solid;
  font-family: Merriweather;
  font-weight:bold;
  font-size:1.5em;
}
.sm-box:hover{
  cursor:pointer;
}
.line {
  margin-top:90px;
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.buttons{
  position:relative;
margin-top:10px;
}
.small-icon{
  color:black;
}
.life-a{
  color:white;
  width:100%;
  background: url("../img/cover.jpg");
  background-position: center;
  background-attachment: fixed;
  font-size:1em;
  font-family: Merriweather;
  color:grey;
}
.head-text{
  color:white;
  font-weight:bold;
  font-size:3em !important;
  font-family: Merriweather;
}
.view:hover{
  background-color: #383838;
  color:white;
}
.view{

}
.section-divider {
    float: left;
    width: 100%;
    border-top: 3px solid lightblue;

}
.stu{
  font-family: Merriweather;
  color:black;
}
.blue-divider{
  border-top: 3px solid lightblue;
}
.life-b ul{
  font-size:16px;
}
#request_transcript{
  color:white;
  background-color:#383838;
  margin-bottom:10px;
}
#request_transcript:hover{
  color:black;
  background-color:white;
}
ul li:hover{
  cursor:pointer;
}
ul li a:hover{
  background-color:lightpink;
}
.life-c{
  color:white;
  width:100%;
  background-color: lightpink;
  opacity:0.8;
}

@media (min-width:751px){

  .icons{
    display:none;
  }
}

@media(max-width:750px){
  .line{
    margin-top:30px;
  }
  .greeting>h1{
    font-size:1.2em;
  }
  .greeting>h3{
    font-size:0.8em;
  }
.buttons{
  display:none;
}
.buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
  .buttons > li:last-child {
        margin-bottom: 0;
    }
}
