body {
  width:100%;
  height:100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url("../img/cover.jpg");
    background-position: center;
    background-attachment: fixed;
}
.container{
  width:100%;
  height:100%;

}
a:hover{
  cursor:pointer;
  text-decoration:none;
}
.navbar-toggle{
  outline:none;
  background-color: transparent;
  color:white;
}
.strong{
  font-weight:bold;
}
a:hover{
  cursor:pointer;
}
.projects:hover{
  cursor:pointer;
}
.links{
  margin-right:20px;
}
.navbar-custom{
  font-size:1.8em;
  background-color:transparent;
}
.navbar-nav>li>a{
  color:white !important;
}
.search-area{
  display:block;
  width:100%;
  height:100px;
  margin-top:-20px;
}
.submit{
  text-decoration: none;
  font-size:2em;
  color:pink;
}
.submit:hover{
  color:pink;
}
.form-group> input{
 outline: none;
  border:none;
  border-bottom:2px solid black;
  background-color:transparent;
  font-size: 1.5em;
  height:50px;
  width:80%;
}
